<div class="row" id="full_row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <img id="detail_img" src="{{ product_objects.image }}">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        {{product_objects.product_name}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{product_objects.category}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{product_objects.price}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{product_objects.description}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{product_objects.stock}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{product_objects.quantity_type}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{product_objects.color_type}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{product_objects.size_type}}
                    </div>
                </div>
            </div>
        </div>
    </div>